In [2]:
import pandas as pd
pd.__version__

'1.5.3'

In [8]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz')

In [9]:
df.head(200)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,2019-01-01 00:35:17,2019-01-01 00:45:20,N,1,181,61,1,1.60,8.5,0.5,0.5,1.95,0.0,NaN,0.3,11.75,1,1,NaN
196,1,2019-01-01 00:47:59,2019-01-01 01:06:43,N,1,61,65,1,2.70,14.0,0.5,0.5,3.05,0.0,NaN,0.3,18.35,1,1,NaN
197,2,2019-01-01 00:43:40,2019-01-01 00:48:22,N,1,223,7,1,0.97,5.5,0.5,0.5,2.04,0.0,NaN,0.3,8.84,1,1,NaN
198,2,2019-01-01 00:49:25,2019-01-01 00:58:40,N,1,7,7,1,1.44,8.0,0.5,0.5,1.86,0.0,NaN,0.3,11.16,1,1,NaN
199,2,2019-01-01 00:27:59,2019-01-01 00:41:18,N,1,216,203,5,4.95,16.5,0.5,0.5,0.00,0.0,NaN,0.3,17.80,1,1,NaN

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [12]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
df.count()

VendorID                 630918
lpep_pickup_datetime     630918
lpep_dropoff_datetime    630918
store_and_fwd_flag       630918
RatecodeID               630918
PULocationID             630918
DOLocationID             630918
passenger_count          630918
trip_distance            630918
fare_amount              630918
extra                    630918
mta_tax                  630918
tip_amount               630918
tolls_amount             630918
ehail_fee                     0
improvement_surcharge    630918
total_amount             630918
payment_type             630918
trip_type                630918
congestion_surcharge      84538
dtype: int64

In [18]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [19]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

918

In [20]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [22]:
df_zones.head(n=0).to_sql(name='zones_data', con=engine, if_exists='replace')
df_zones.to_sql(name='zones_data', con=engine, if_exists='append')

265